body {
    font-family: 'Helvetica', sans-serif;
    background: ivory;
    padding-top: 70px; 
}

.banner {
    width: 100%;
    height: 200px;
}
.search-type input {
    height: 27px !important;
}
.search-type, .keyword, .sort-by {
    padding-bottom: 10px;
}
.list-header {
    text-align: right;
}
.product {
    padding-bottom: 20px;
}
.product h4{
    height: 40px;
}
.product h5{
    height: 50px;
}
.list .product img {
    width: 260px;
    height: 100px;
}
.list .product button {
    width: 100%;
    padding: 10px 0;
}

.jumbotron {
    margin: 0;
}

.validation {
    color: #d9534f
}

footer p {
    padding: 10px;
    text-align: center;
    background-color: #eee;
}

.error h1 {
    margin: 30px 0;
}

