<div class="container">
    <div class="jumbotron">
        <form name="searchForm" novalidate ng-submit="ctrl.search(ctrl.brand,ctrl.searchName,ctrl.sortBy)" class="form-group">
            <div class="keyword col-lg-4"> 
                <select class= "form-control" ng-model= "ctrl.brand">
                    <option placeholder="Brand Name" ng-repeat = "brand in ctrl.brands" value = "{{brand}}" >{{brand}}</option>
                </select>
            </div>
            <div class="keyword col-lg-5">
                <input type="text" name="searchName" class="form-control" ng-model="ctrl.searchName"
                       placeholder="Product Name"
                       required>
            </div>
            <div class="sort-by col-lg-2">
                <select ng-model="ctrl.sortBy" class="form-control">
                    <option value="" disabled selected>Sort by</option>
                    <option value="1">Ascending</option>
                    <option value="-1">Descending</option>
                </select>
            </div>
            <div class="col-lg-1">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>

    <!--TO WORK ON-->
    <!--<div class="list" ng-show="ctrl.products">
        <div class="row">
            <div class="list-header col-lg-12 col-md-12 col-sm-12">
                <ul uib-pagination total-items="ctrl.totalItems" ng-model="ctrl.currentPage"
                    max-size="ctrl.maxSize" items-per-page="ctrl.itemsPerPage" ng-change="ctrl.pageChanged()"
                    class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
            </div>
        </div>-->
        
        <div class="row">
            <div class="product col-lg-3 col-md-4 col-sm-6" ng-repeat="product in ctrl.products | orderBy:'brand'">
                <a class="thumb">
                    <img ng-src="http://www.barcodes4.me/barcode/c128a/{{product.upc12}}.png?IsTextDrawn=1" alt="{{product.upc12}}" />
                </a>
                <h4>{{product.brand}}</h4>
                <h5>{{product.name}}</h5>
                <button type="button" class="btn btn-default" ng-click="ctrl.getProduct(product)">Edit</button>
            </div>
        </div>
    </div>
    <div class="list" ng-hide="ctrl.products.length>0" style="text-align:center">
        <h1>No record found.</h1>
    </div>
</div>